@model OneCMA.Models.LoginViewModel
@{
    ViewBag.Title = "One CMA";
}

<div class="jumbotron">
    <h1>One CMA</h1>
    <p class="lead">One stop shop for all CMA solutions.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            One CMA integrates many systems like Health, Education, Roads, Birth/Death management and Sanitization.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Public services</h2>
        <p><a href="#">Apply for Birth certificate</a></p>
        <p><a href="#">Apply for Death certificate</a></p>
        <p><a href="#">Report about spreading decease</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <div class="row">
            <div class="col-md-11">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>For CMA employees only.</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="submit" value="Log in" class="btn btn-primary btn-large" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>